
body{
  margin:0;
  background:black;
  color:#00ff66;
  font-family: monospace;
  overflow:hidden;
}

header{
  padding:20px;
  border-bottom:1px solid #00ff6633;
}

.container{
  display:flex;
  gap:20px;
  padding:20px;
  position:relative;
  z-index:2;
}

.panel{
  flex:1;
  border:1px solid #00ff6633;
  padding:15px;
  background:rgba(0,255,100,.05);
}

input, button{
  width:100%;
  margin:5px 0;
  padding:8px;
  background:black;
  border:1px solid #00ff66;
  color:#00ff66;
}

button{
  background:#00ff66;
  color:black;
  cursor:pointer;
}

#qrBox img{
  margin-top:10px;
}

#globe{
  width:100%;
  height:300px;
}

footer{
  text-align:center;
  opacity:.5;
  padding:10px;
}

.source{
  font-size:12px;
  opacity:.6;
}

/* MATRIX */
#matrix{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
}
