body {
  background: #0d0d0d;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: white;
}

#brand {
  position: fixed;
  top: 10px;
  left: 15px;
  font-size: 22px;
  color: #00ff66;
  font-family: "Courier New", monospace;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #00ff6699;
}

.container {
  margin: 80px auto 0;
  width: 90%;
  max-width: 450px;
  background: #1a1a1a;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 14px #00ff6655;
  text-align: center;
}

.social-menu button {
  background: #222;
  border: none;
  padding: 10px 14px;
  margin: 4px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}

.social-menu button:hover {
  background: #00ff66;
  color: #000;
}

.icon {
  width: 17px;
  height: 17px;
  filter: invert(1);
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 15px;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #00ff66;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #00cc55;
}

.qr {
  margin-top: 22px;
  width: 200px;
  display: none;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.3s ease-in-out;
}

.qr.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}
