*{
  box-sizing:border-box;
}

html,body{
  margin:0;
  padding:0;
  background:black;
  color:#00ff66;
  font-family:monospace;
  height:100%;
}

/* ===== MATRIX BACKGROUND ===== */
#matrix{
  position:fixed;
  inset:0;
  z-index:0;
}

/* ===== HEADER ===== */
header{
  position:relative;
  z-index:2;
  height:180px;
  text-align:center;
  border-bottom:1px solid #00ff6633;
  overflow:hidden;
}

h1{
  margin-top:10px;
  font-size:30px;
  text-shadow:0 0 10px #00ff66;
}

.desc{
  font-size:14px;
  opacity:.8;
}

/* FIREWORKS LAYER */
#fireworks{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  height:120px;
  width:100%;
  z-index:-1;
}

/* ===== CONTENT ===== */
main{
  position:relative;
  z-index:2;
  padding:20px;
  display:flex;
  gap:15px;
}

.btn{
  padding:10px 16px;
  background:transparent;
  border:1px solid #00ff66;
  color:#00ff66;
  cursor:pointer;
}

.btn:hover{
  background:#00ff66;
  color:black;
}
