body {
    margin: 0;
    background: #02050f;
    color: white;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    font-weight: 600;
    letter-spacing: 3px;
    color: #00eaff;
    text-shadow: 0 0 15px #00eaff;
}

.map-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

svg {
    width: 90%;
    max-width: 1300px;
}

/* Lines */
.link {
    stroke: #00d0ff;
    stroke-width: 4;
    opacity: 0.8;
    stroke-linecap: round;
}

/* City name */
.city-name {
    fill: white;
    font-size: 22px;
    text-anchor: middle;
}

/* Glow */
circle {
    filter: drop-shadow(0 0 8px #00d0ff);
}
