*{box-sizing:border-box;}

body{
  margin:0;
  background:black;
  color:#00ff66;
  font-family:monospace;
  overflow:hidden;
}

/* MATRIX */
#matrix{
  position:fixed;
  inset:0;
  z-index:0;
}

header{
  position:relative;
  z-index:2;
  text-align:center;
  padding:20px;
  border-bottom:1px solid #00ff6633;
}

.sub{opacity:.7;}

.container{
  position:relative;
  z-index:2;
  display:flex;
  gap:20px;
  padding:20px;
}

.panel{
  flex:1;
  background:rgba(0,255,100,0.05);
  border:1px solid #00ff6633;
  padding:15px;
  border-radius:8px;
}

/* INPUT & BUTTONS */
input,button{
  width:100%;
  padding:8px;
  margin:6px 0;
  background:black;
  border:1px solid #00ff66;
  color:#00ff66;
}
button{
  background:#00ff66;
  color:black;
  cursor:pointer;
}
button:hover{background:#00cc55;}

.socials{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:6px;
}

#qrBox img{margin-top:10px}

/* MAP */
#mapBox{
  width:100%;
  height:350px;
  border:1px solid #00ff6633;
  background:black;
  overflow:hidden;
  position:relative;
}

#worldmap{
  width:100%;
  height:100%;
}

/* PANEL POPUP */
.panel-popup{
  position:fixed;
  inset:0;
  display:none;
  background:rgba(0,0,0,0.9);
  z-index:99;
  text-align:center;
  padding-top:60px;
}

.close{
  position:absolute;
  top:20px;
  right:30px;
  font-size:22px;
  cursor:pointer;
}

/* ROTATION 360 */
.rotate360 img{
  width:260px;
  border-radius:12px;
  animation:spin 18s linear infinite;
  box-shadow:0 0 20px #00ff66;
}

@keyframes spin{
  from{transform:rotateY(0);}
  to{transform:rotateY(360deg);}
}

.source{
  opacity:0.5;
  font-size:12px;
}

.top-buttons{
  position:fixed;
  top:90px;
  left:20px;
  z-index:10;
}

.top-buttons button{
  background:transparent;
  border:1px solid #00ff66;
  color:#00ff66;
  padding:8px 12px;
  margin-right:8px;
}
.top-buttons button:hover{
  background:#00ff66;
  color:black;
}
