* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: radial-gradient(circle at top, #001a0f, #000);
  color: #00ff66;
  overflow: hidden;
}

/* MATRIX HEADER */
#matrixName {
  width: 100%;
  height: 90px;
  display: block;
}

/* LAYOUT */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

/* LEFT */
.left {
  width: 30%;
}

.left h2 {
  margin-bottom: 10px;
}

.buttons a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #00ff66;
  color: #00ff66;
  text-align: center;
  transition: 0.3s;
}

.buttons a:hover {
  background: #00ff66;
  color: #000;
}

/* CENTER */
.center {
  width: 30%;
  display: flex;
  justify-content: center;
}

#qrBox {
  width: 200px;
  height: 200px;
  border: 2px solid #00ff66;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT */
.right {
  width: 30%;
  text-align: right;
}

.right h3 {
  margin-bottom: 10px;
}
