body {
    margin: 0;
    font-family: "Consolas", monospace;
    overflow: hidden;
    background: black;
    color: #0f0;
}

.screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5) blur(1px);
    position: absolute;
}

.hidden {
    display: none;
}

/* Glitch TAPEZ ICI */
.glitch-title {
    font-size: 60px;
    color: #00ffea;
    text-align: center;
    margin-top: 25%;
    position: relative;
}

.glitch-title span:nth-child(1) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: glitch1 1.2s infinite;
}

.glitch-title span:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: glitch2 1.2s infinite;
}

.glitch-title span:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* glitch animation */
@keyframes glitch1 {
    0% { clip-path: inset(0 0 80% 0); transform: translate(-50%, -2px); }
    50% { clip-path: inset(10% 0 30% 0); transform: translate(-50%, 2px); }
    100% { clip-path: inset(50% 0 0 0); transform: translate(-50%, -1px); }
}

@keyframes glitch2 {
    0% { clip-path: inset(80% 0 0 0); transform: translate(-50%, 1px); }
    50% { clip-path: inset(30% 0 10% 0); transform: translate(-50%, -2px); }
    100% { clip-path: inset(0 0 50% 0); transform: translate(-50%, 1px); }
}

/* Neon Button */
.neon-btn {
    margin-top: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 15px 50px;
    background: transparent;
    color: #00ffe7;
    border: 2px solid #00ffe7;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 10px #00ffe7;
}

.neon-btn:hover {
    box-shadow: 0 0 25px #00ffe7;
}

/* Interface 2 */
.matrix-title {
    text-align: center;
    margin-top: 40px;
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
}

.panel {
    text-align: center;
    margin-top: 20px;
}

.tab {
    padding: 12px 30px;
    margin: 5px;
    background: black;
    border: 1px solid #0f0;
    color: #0f0;
    cursor: pointer;
}

.content-box {
    width: 90%;
    height: 60%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #0f0;
    overflow-y: auto;
    background: rgba(0,0,0,0.3);
}
